// colors
$blue: #3b76ef;
$green: #4ad98c;
$gray: #f3f4f8;
$red: #ed2224;
$redTwo: #ed4545;

// media queries
$media-sm: 500px;
$media-md: 768px;
$media-lg: 991px;
$media-xl: 1024px;

$container: 1440px;

